@using Radzen.Blazor

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <RadzenTheme Theme="tempus" @rendermode="RenderMode.InteractiveServer" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/pages.css" />
    <link rel="stylesheet" href="css/simplified.css" />
    <link rel="stylesheet" href="css/components.css" />
    <link rel="stylesheet" href="css/accessibility.css" />
    <link rel="icon" type="image/ico" sizes="32x32" href="favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="favicon-180.png" />
    <link rel="manifest" href="site.webmanifest" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer"/>
    <script src="js/site.js"></script>
    <script src="js/calendar-dragdrop.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
</body>

</html>
